@font-face{
	font-family: involvo;
	src: url('../nix/font/involvo/Involvo-Regular.ttf')

.author {
	font-family: involvo, sans-serif;
	position: absolute;
	z-index: 2;
	opacity: .5;
	left: 50%;
	transform: translate(-50%, 20%);
	margin: 10px;
	text-align: center;
}

.bambam {
	position: absolute;
	font-family: involvo, sans-serif;
	z-index: 2;
	opacity: .5;
	left: 50%;
	transform: translate(-50%, 160%);
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	background-color: #666;
	padding: 5px;
	color: white;
}
