  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}
@font-face {
    font-family: main;
    src: (../fonts/Involve-SemiBold.ttf);
    font-weight: 900;
}
.author {
	font-family: 'main', sans-serif;
	position: absolute;
	z-index: 2;
	opacity: .5;
	left: 50%;
	transform: translate(-50%, 20%);
	margin: 10px;
	text-align: center;
}

.bambam {
	position: absolute;
	font-family: "main", sans-serif;
	z-index: 2;
	opacity: .5;
	left: 50%;
	transform: translate(-50%, 160%);
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	background-color: #666;
	padding: 5px;
	color: white;
}
