@font-face {
	font-family: nix;
	src: url('fonts/involve/Involve-Bold.ttf');
	font-weight: 300;
}
@font-face {
	font-family: nixs;
	src: url('fonts/involve/Involve-SemiBold.ttf');
	font-weight: 300;
}
@font-face {
  font-family: golos;
  src: url('fonts/golos/GolosText_Regular/GolosText_Regular.ttf');
}

body{
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
    background-color: #f5deb3;
    color: #553802;
    font-family: nix, sans-serif;
    a{
        text-decoration: none;
        color: #553802;
    }
    transition: 0.4s ease-in;
}
.ds path, .tg path, .gt path{
  fill: #553802;
  transition: 0.4s ease-in;
}
.nixtext1{
  font-size: small !important;
  text-align: center;
}
.dark-mode{
    background-color: #553802;
    color: #f5deb3;
    a{
        color: #f5deb3;
    }
    select{
        background-color: #f5deb3;
        color: #553802;
        transition: 0.4s ease-in;
    }
    
    .ds path, .tg path, .gt path{
      fill: #f5deb3;
      transition: 0.4s ease-in;
    }
    .slider{
      background-color: #f5deb3 !important;
      transition: .4s ease-in;
    }
    .slider:before{
      background-image: url('res/moon2.svg');
      transition: .4s ease-in;
    }
    
    transition: 0.4s ease-in;
}
header{
  text-align: center !important;
  font-family: nix, sans-serif;
  font-size: large;
  margin-top: 0px;
  overflow: hidden;
  transition: 0.4s ease-in;
}
a{
    text-decoration: none;
    color: #3d2801;
}
.gays{
    text-align: center;
    font-family: nix, sans-serif;
    font-size: x-large;
    margin-top: 8px;
}
.mp, .il, .ks, .zh{
    padding-right: 10px;
    transition: 0.4s ease-in;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px; /* Decreased height by 2 times */
  border-radius: 8.5px; /* Rounded switch */
  overflow: hidden;
  vertical-align: middle; /* Align the slider vertically with the surrounding text */
  margin-right: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.gt{
  transform: translateY(3px);
  
}
.ds{
  transform: translateY(18px) ;
  margin-right: -6px;
}
.tg{
  transform: translateY(5px);
}

.slider {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  top: -2px; /* Adjust the top position */
  left: 0;
  right: 0;
  background-color: #553802;
  bottom: -18px; /* Adjust the bottom position */  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  border-radius: 8.5px; /* Rounded slider */
}

.slider:before {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  content: "";
  top: 20px;
  height: 13px; /* Decreased height by 2 times */
  width: 13px; /* Decreased height by 2 times */
  left: 2px; /* Adjusted position */
  bottom: 16px; /* Adjusted position */
  background-image: url('res/moon.svg');
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
  border-radius: 50%; /* Rounded thumb */
}

input:checked + .slider {
  background-color: #553802;
}


input:checked + .slider:before {
  -webkit-transform: translateX(13px); /* Adjusted position */
  -ms-transform: translateX(13px); /* Adjusted position */
  transform: translateX(13px); /* Adjusted position */
}
label {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
  transition: 0.4s ease-in;
}

main{
  text-align: center;
}

/* Style the select element to be inline */
select {
  margin-left: -8px;
  display: inline;
  vertical-align: middle;
  background-color: #553802;
  font-family: nixs,sans-serif;
  color: #f5deb3;
  border: 2px #3d2801 solid;
  border-radius: 5px;
  transition: 0.4s ease-in;
  appearance: none;
}

/* Apply transition to the select options */
select option {
  transition: all 0.4s ease-in;
}

/* Apply hover effect to the select options */
select option:hover {
  background-color: #e0c691; /* Example of changing background color on hover */
  transform: scale(1.1); /* Example of a scale animation on hover */
}
.language-selector{
    display: inline-block;
}
.hl{
    font-family: nixs, sans-serif;
    font-size: 70px;
    text-align: center;
}
.nixtext1{
  margin-bottom: 40px;
}
.tailspng{
  width: 25%;
  height: 25%;
}
.projects{
  font-family: golos,sans-serif;
}
h2{
  margin-top: 500px;
}
.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 24px;
	transition: .25s ease-in;
  
	opacity: .25;
}
.soundbutton.paused {
  transition: .25 ease-in;
  opacity: 1;
}
.sigma{
  width: 5%;
  height: 5%;
}
.projectstext{
  margin-top: 50px;
}

.teamsite{
  width: 75%;
  height: 75%;
  border-radius: 8.5px;
}
