@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


body{
    background-color: black;
    text-align: right;
    font-size: 35px;
    font-family: unbounded;
    color: orange;
}
.idk{
    font-size: 19px;
}
.bold{
    color: orangered;
    text-decoration: none;
}
.day {
    color: white;
    text-decoration: none;
    font-size: 10px;
}