* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	scroll-behavior: smooth;
  }
  
/* Скрываем Scrollbar */
body {
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar { 
	display: none; /* Safari and Chrome */

}
body {
	background-color: #272727;
	color: #fff;
	font-size: calc(var(--index) * .8);
	font-family: raleway_c, sans-serif;
	line-height: 1.75;
	height: var(--depth);
	font-weight: 300;
}
.listr {
	width: 80%;
	height: 80%;
	margin: 10px auto 20px;
    display: block;
}

.listvr {
	width: 80%;
	height: 80%;
	margin: 10px auto 20px;
    display: block;
	border-radius: 15px;
	z-index: 900;
	border: 1px solid rgba(255, 255, 255, 0.25);
}


.soundbutton {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	z-index: 30000;
	cursor: pointer;
	width: 24px;
	transition: .25s ease;
}
.soundbutton.paused {
	opacity: .25;
}
