@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Jost:wght@600&family=Nunito&family=Questrial&display=swap');


body {
    text-align: center;
    font-size: 44px;
    font-family: Questrial;
    background-image: url('res/zelisb.gif');
    color: white;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}
strong{
    font-size: 99px;
}
h2 {
    font-size: 44px;
}
.elisres {
    width: 30%;
    height: 30%;
}
a{
    color: white;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
footer{
    text-align: center;
}
.kim{
    float: left !important;
}
.kir{
    float: right !important;
}

