@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@font-face {
  font-family: Main;
  src: url(PN\ reg.woff2);
}
@font-face {
  font-family: MainMed;
  src: url(PN\ reg.woff2);
}




:root {
  --gap: 0.5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

/*SELECTORS*/
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  font-family: Poppins, sans-serif;
  background-image: url();
  background-color: #353535;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff67;
  transition: 0.5s
    cubic-bezier(0.175, 0.885, 0.6, 1);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


#container{
  width: fit-content;
  height: auto;
  margin: 65px;
}

.site-name {
  text-decoration: none;
  font-family: Main;
  color: #afafaf;
  position: relative;
  font-weight: 330;
  font-size: calc(var(--index) * 1.1);
  transition: 0.5s
    cubic-bezier(0.175, 0.885, 0.6, 1);
  margin-bottom: 1em;
  grid-column: span 4;
}

.sasas {
  max-width: 200px;
}

.container {
  display: grid;
  /* Три колонки */
  grid-template-columns:repeat(5, auto);
  /* Два ряда */
  grid-template-rows: repeat(1, auto);
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
  /* Отступы между ячейками */
  gap: 20px;
}

.donate{
  text-decoration: none;
  font-family: Golos Text, sans-serif;
  font-weight: 600;
  text-align: left;
	font-size: calc(var(--index) * 0.8);
	padding: calc(var(--index) * 1.3) calc(var(--index) * 1.8);
	background-color: #ffffff80;
  backdrop-filter: blur(10px);
	color: #272727;
	border-radius: 20px;
	transition: all 1200ms cubic-bezier(0.075, 0.500, 0.000, 1.000);
  margin: 0px;
  min-width: 222px;
}

.info{
  text-decoration: none;
  font-family: Golos Text, sans-serif;
  font-weight: 600;
  text-align: left;
	font-size: calc(var(--index) * 0.8);
	padding: calc(var(--index) * 1.1) calc(var(--index) * 1.5);
	background-color: #55555580;
  backdrop-filter: blur(10px);
	color: #fff;
	border-radius: 12px;
	transition: all 1200ms cubic-bezier(0.075, 0.500, 0.000, 1.000);
  margin: 0px;
  min-width: 222px;
}

.iNF_HELP{
  text-decoration: none;
  font-family: Golos Text, sans-serif;
  font-weight: 600;
  text-align: left;
	font-size: calc(var(--index) * 0.8);
	padding: calc(var(--index) * 1.3) calc(var(--index) * 1.8);
	background-color: lightblue;
  backdrop-filter: blur(10px);
  color: #2c2c2c;
	border-radius: 20px;
	transition: all 1200ms cubic-bezier(0.075, 0.500, 0.000, 1.000);
  margin: 0px;
  min-width: 222px;
}

.donaao{
  text-decoration: none;
  font-family: Golos Text, sans-serif;
  font-weight: 600;
  text-align: left;
	font-size: calc(var(--index) * 0.8);
	padding: calc(var(--index) * 1.3) calc(var(--index) * 1.8);
	background-color: #ebeceec4;
  backdrop-filter: blur(10px);
	color: #313131;
	border-radius: 20px;
	transition: all 1200ms cubic-bezier(0.075, 0.500, 0.000, 1.000);
  margin: 0px;
  min-width: 222px;
}

.donaaoanimate{
  width: calc(var(--index) * 10);
}

.info:hover{
  filter: brightness(120%);
  transition: 0.5s
    cubic-bezier(0.175, 0.885, 0.6, 1);
}
.description1{
  text-align: left;
  margin: 0px;
}

.description2{
  font-size: calc(var(--index) * 0.6);
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  text-align: left;
  opacity: 50%;
  margin: 0px;
}
.info2{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 10px;
}

.imag {
width: calc(var(--index) * 1.4);
margin-bottom: 0.55em;
border-radius: 0.2em;
}

.conect_btn{
  margin-top: 1em;
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: calc(var(--index) * 0.3) calc(var(--index) * 0.5);
  border-radius: 0.7em;
}
.conect_btn:hover{
  background-color: #fff;
  color: #272727;
}

.mbits{
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  text-align: center;
  margin-left: 3px;
}


@media screen and (max-width: 700px) {
  .site-name:hover {
    filter: none;
    transform: none;
  }
  nav {
    justify-content: center;
  }
  main {
    flex-direction: column;
    align-items: center;
    margin: auto 10vw;
  }
  .site-name {
    transition: none;
    font-size: calc(var(--index) * 2.5);
  }
  .telegram {
    display: none;
  }
  .github {
    display: none;
  }
  .cointainer {
    margin-top: 1vw;
    margin-left: 0;
  }
  .pfp {
    width: 60%;
    height: 60%;
  }
  h1 {
    font-size: calc(var(--index) * 2.2);
  }
  h2 {
    font-size: calc(var(--index) * 1.4);
  }
}


.tag{
    opacity: 0.8;
}

.tag_free{
  font-size: calc(var(--index) * 0.6);
  font-family: Golos Text, sans-serif;
  color: #fff;
  opacity: 0.8;
  margin-top: 1em;
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 1em;
  text-decoration: none;
}

.paid_btn{
  margin-top: 1em;
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  background-color: lightblue;
  color: #2c2c2c;
  border: 1px solid transparent;
  text-align: center;
  padding: calc(var(--index) * 0.3) calc(var(--index) * 0.5);
  border-radius: 0.7em;
}

.paid_btn:hover{
  filter: brightness(90%);
}

.helpsup{
  margin-top: 1em;
  font-family: Golos Text, sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
  border: 1px solid transparent;
  text-align: center;
  padding: calc(var(--index) * 0.3) calc(var(--index) * 0.5);
  border-radius: 1em;
}

a{
  font-family: Golos Text, sans-serif;
  text-decoration: none;
  color: white;
}
.ppppp {
  margin-left: 1em;
}

.kon{
  margin-top: 2em;
}