* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
}
@font-face {
	font-family: rf;
	src: url(../fonts/rf.otf);
}
@font-face {
	font-family: rfb;
	src: url(../fonts/rfb.otf);
}
@font-face {
	font-family: sf;
	src: url(../fonts/sf.woff2);
}
@font-face {
	font-family: sfr;
	src: url(../fonts/sfr.woff2);
}
body {
	font-family: rfb;
	color: #ffffff;
	overflow-x: hidden;
}
.scene {
	height: 350vh;
}
.layer {
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 0 300vh;
}

.layer:nth-child(1) { animation-name: animation-1; }
@keyframes animation-1 { to { scale: 1.25; } }

.layer:nth-child(2) { animation-name: animation-2; }
@keyframes animation-2 { to { scale: 1.275; } }

.layer:nth-child(3) { animation-name: animation-3; }
@keyframes animation-3 { to { scale: 1.5; } }

.layer:nth-child(4) { animation-name: animation-4; }
@keyframes animation-4 { to { scale: 2; } }

.layer:nth-child(5) {
	opacity: 0;
	animation-range: 100vh 200vh;
	animation-name: animation-end;
}
@keyframes animation-end { to { opacity: 1; } }

.layer__content {
	border-radius: 30px;
	padding: 4vh 4.75vw;
	backdrop-filter: blur(25px) brightness(.98);
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 0 100vh;
	animation-name: animation-head;
}
@keyframes animation-head { to { opacity: 0; filter: blur(20px); } }

.layer__content h1 {
	text-transform: uppercase;
	font-size: calc(var(--index) * 4.5);
	text-align: center;
	line-height: .7em;
	letter-spacing: -.15vw;
}
.layer__content h2 {
	font-family: sf;
	font-size: calc(var(--index) * 1.2);
	text-align: center;
	line-height: .7em;
	letter-spacing: -.15vw;
	opacity: .45;
}
.layer__content h5 {
	font-family: sfr;
	font-size: calc(var(--index) * 1.2);
	background: linear-gradient(45deg,  #fbff20, #ffc400, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
	text-align: center;
	line-height: 1.7em;
}
.layer__end h3 {
	font-family: sfr;
	cursor: pointer;
	font-size: 2rem;
	position: relative;
	text-align: center;
}
.layer__end h4 {
	font-family: sf;
	cursor: pointer;
	font-size: 2rem;
	position: relative;
	text-align: center;
	opacity: .45;
}
.layer__end::before {
	content: '';
	background-color: #2c2c2c;
	inset: 0;
	position: absolute;
	opacity: 0;
	animation-timeline: scroll();
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-range: 100vh 110vh;
	animation-name: animation-bg;
}
@keyframes animation-bg { to { opacity: 1; } }

.d {
	position: fixed;
	bottom: 5vh;
	right: 5vw;
	cursor: pointer;
	width: 270px;
	transition: .25s ease;
}
a, button /* &c... */ {
    all: unset;
}
.l {
	color: #777777;
	position: fixed;
	width: 36px;
}
