@font-face {
  font-family: "Lexend Peta";
  src: local("Lexend Peta Regular"),
    local("LexendPeta-Regular"),
    url("./fonts/Main\ Page.woff2") format("woff2"),
  font-weight: normal;
}
@font-face {
  font-family: "Lexend Cont";
  src: local("Lexend Content"),
    local("LexendContent"),
    url("./fonts/Content\ Text.woff2") format("woff2"),
  font-weight: normal;
}
@font-face {
  font-family: "Lexend Italic";
  src: local("Lexend Italic"),
    local("Lexend-Italic"),
    url("./fonts/Content\ Text\ Italic.woff2") format("woff2"),
  font-weight: normal;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff25; 
}


:root {
  --gap: 0.5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

    html {
      background-image: url(./resources/main.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 95vh;
      color-scheme: dark;
    }

    body {
      min-height: 100%;
      font-family: Golos Text, sans-serif;
      font-weight: 400;
      color: #FFFFFF;
    }

    .dial {
      display: grid;
      place-items: center;
      position: static;
      border-color: currentColor;
      color: white;

    }
    .hide{
      opacity: 0.5;
    }

    .conf{
      margin-top: -5%;
      opacity: 0.5;
    }

    .instrum{
      margin-top: -5%;
      font-family: "Lexend Cont";
    }

    p{
      color: white;
    }

    h1 {
      font-size: 30px;
      font-weight: 500;
      line-height: 0.85;
    }
    .count_size {
      margin: -4px 7px;
      font-size: 20px;
      font-weight: 500;
      line-height: 0.85;
    }
    
    .count_size_after {
      margin: 7px;
      font-size: 20px;
      font-weight: 500;
      line-height: 0.85;
      opacity: .5;
    }


button{
  text-align: left;
  font-family: Golos Text, sans-serif;
}
button:hover{
  opacity: 1;
  text-decoration: underline
}

    .spotik{
      background-color: transparent;
      opacity: .5;
      color:#191414;
      border: 1px solid transparent;
    }
    .ico{
      width: 14px;
      height: 14px;
    }


    .framevr{
      d
      justify-items: center;
      padding: 1.55em;
      background-color: #ffffff10;
      border-radius: 10px;
      color: white;
    }
    .pip{
      width: calc(var(--index) * 8);
      height: calc(var(--index) * 8);
    }


.framecontent{
  max-width: 450px;
  max-height: 650px;
  min-width: 330px;
  min-height: 530px;
  overflow-x: hidden;
  overflow-y: auto;
word-wrap: break-word;
  width: calc(var(--index) * 10.2);
  height: calc(var(--index) * 18.2);
  padding: calc(var(--index) * .7) calc(var(--index) * 1.8);
  background-color: #665f5862;
  backdrop-filter: blur(33px);
  margin: 1.75em;
}
