* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Убираем фон в body */
body {
    background-color: transparent;
}

/* Контейнер для звездного фона */
.stars-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: #F5F5F5; /* Фон звездного неба */
}

/* Контейнер для изображений */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 100%;
    height: 50%;
    overflow-x: auto; /* Включаем горизонтальный скролл */
    padding-bottom: 20px; /* Для предотвращения обрезки изображений */
}

/* Окружение для изображений */
.image-wrapper {
    width: 30%;
    padding: 0 10px; /* Адаптивные отступы между изображениями */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Эффект при наведении на изображение */
.image-wrapper:hover img {
    transform: scale(1.05);
    filter: brightness(110%);
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: row; /* Размещение изображений в ряд */
        height: auto;
        padding-bottom: 20px; /* Для предотвращения обрезки */
    }

    .image-wrapper {
        width: 80%;
        margin-right: 10px; /* Добавляем отступ между изображениями */
    }

    /* Контейнер с горизонтальным скроллом на мобильных устройствах */
    .container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}
.star {
    position: absolute;
    background-color: #000000; /* Черные звезды */
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 1.5s infinite ease-in-out;
}

@keyframes twinkle {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}
